body
{	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background-color:#707070;
	font: normal small Arial, Helvetica, sans-serif;
	}
	.border
	{border:3px solid #ffffff;
	background-color:ThreeDDarkShadow;
	height:91px;
	width:250px;
	}
	.logo
{
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.tag {
	margin: 0;
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
    text-decoration:none;
}
.sys 
{
	margin: 0;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
}

.lblerror
{
	font-size:11px;
	font-family:Tahoma;
	color:Red;
}
.AdminHeaderMsg
{
	font-size:28px;
	font-weight:bold;
	font-family:Tahoma;
	color:#1A50B8;
}
.publicloginTable
{
	border-bottom:blue 1px solid;
	border-left:blue 1px solid;
	border-right:blue 1px solid;
	border-top:blue 1px solid;
	background-color:#C2CFDC;
}
.admintablestyle
{
	background-color:#C2CFDC;
}
.LoginTitle
{
	background-color: #81574f;
	font-family: thomba;
	font-size: 14px;
	font-weight: bold;
	color: White;
}
.btnstyle
{
	background-color: #BDD2CF;
	color: #8E433A;
	font: 10pt verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight: bold;
}
.adminMenu
{
	font-size: 12pt;
	font-family: Verdana;
}